@mixin responsive($breakpoint) {
	@if $breakpoint == pro-max-tablet {
		@media screen and (max-width: 1314px) and (min-width: 830px) {
			@content;
		}
	}

	@if $breakpoint == max-tablet {
		@media screen and (max-width: 1200px) {
			@content;
		}
	}
	@if $breakpoint == max-max-tablet {
		@media screen and (max-width: 820px) {
			@content;
		}
	}
	@if $breakpoint == tablet {
		@media screen and (max-width: 768px) {
			@content;
		}
	}
	@if $breakpoint == tablet-med {
		@media screen and (max-width: 700px) {
			@content;
		}
	}
	@if $breakpoint == min-tablet {
		@media screen and (max-width: 650px) {
			@content;
		}
	}
	@if $breakpoint == max-phone {
		@media screen and (max-width: 550px) {
			@content;
		}
	}
	@if $breakpoint == min-phone {
		@media screen and (max-width: 450px) {
			@content;
		}
	}
	@if $breakpoint == phone {
		@media screen and (max-width: 375px) {
			@content;
		}
	}
}
@mixin flexx() {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
