// COLOR
$primary_color: #0e8784;
$secondary_color: #333d4b;
$pale-orange: #fdd6ba;
$light-color: #fefcf7;
$grey-color: #83888f;
// navigation_menu-color
$nav-color: #83888f;
$nav_hover-color: #333d4b;
// title-color
$title-color: #333d4b;
// subtitle-color
$subt-color: #333d4b;
// button-color
$main_btn-color: #0e8784;
$btn-hover-color: #66d2cf;
$btn-disablet-color: #e2dedb;
// option-color
$option-color: #f4f1eb;
$option-hover: #fdd6ba;
$option-active: #0e8784;

// FONT-FAMILY
// title
$title_font-family: "Fraunces", "Arial", sans-sherif;
// subtitle
$subt_font-family: "Barlow", "Arial", sans-sherif;
// FONT-SIZE
// navigation
$nav_font-size: 1.2rem;
// title
$h1_font-size: 7.2rem;
$h2_font-size: 4rem;
$h3_font-size: 3.2rem;
$h4_font-size: 2.4rem;
// subtitle
$subt_font-size: 1.6rem;

// CONTAINER

