/* COLORS */
$main-color: #0e8784;
$second-color: #333d4b;
$pale-orange: #fdd6ba;
$ligt-cream: #fefcf7;
$grey: #83888f;

/* BTN-COLOR */
$main-btn-default: #0e8784;
$main-btn-hover: #66d2cf;
$main__btn-disabled: #e2dedb;

/* SELECTION COLOR */
$selection-default: #f4f1eb;
$selection-hover: #fdd6ba;
$selection-active: #0e8784;

/* FONT-SIZE */

/*  BIG-TITLE */
$big-title: 15rem;
$big-title__line-height: 0.48;

/* H1 font-size */
$h1__font-size: 7.2rem;
$h1__line-height: 1;

/* H2 font-size */
$h2__font-size: 4rem;
$h2__line-height: 1.2;

/* H3 font-size */
$h3__font-size: 3.2rem;
$h3__line-height: 1.12;

/* H4 font-size */
$h4__font-size: 2.4rem;
$h4__line-height: 1.33;

/* SUBTITLE__FONT-SIZE */
$subtitle__font-size: 1.6rem;
$subtitle__line-height: 1.62;

/* FONT-WEIGHT */
$main__font-weight: 400;
$second__font-weight: 900;

/* FONT-FAMILY */
$title__font-family: "Fraunces", "Arial", sans-serif;
$subtitle__font-family: "Barlow", "Arial", sans-serif;

/* NAV */
$nav_font-size: 1.2rem;
$nav__line-height: 1.25;
$nav__font-weight: 700;

// MEDIA
$h1__font-media-size: 4.8rem;
$h1-maxmobile_font-size: 4rem;
