.cards {
	.container {
		padding: 35.8rem 16.5rem 0;
		position: relative;
		margin-bottom: 20rem;
		@include responsive(max-tablet) {
			padding: 35.8rem 0 0;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}
	&__block {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		text-align: center;
		z-index: -1;
	}
	&__wrapper {
		width: 88.8%;
		margin: auto;
		height: 57.7rem;
		top: 0.6%;
		left: 8rem;
		border-radius: 10px;
		background-color: #2c343e;
		padding: 10rem 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__info {
		width: 54rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-size: $h2_font-size;
		margin-bottom: 3.2rem;
		color: $light-color;
		@include responsive(min-phone) {
			font-size: 2.8rem;
			line-height: 1;
		}
	}
	&__subtitle {
		text-align: center;
		color: $light-color;
		opacity: 0.8;
		@include responsive(tablet) {
			width: 70vw;
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));

		gap: 3rem;
		@include responsive(max-tablet) {
			display: flex;
			flex-direction: column;
			width: 70vw;
			align-items: center;
			justify-content: center;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 7.2rem 0 4.8rem;
		background-color: $primary_color;
		border-radius: 8px;
		@include responsive(max-tablet) {
			width: 100%;
			align-items: center;
			padding: 4.1rem 5rem 4.8rem;
			flex-direction: row;
			justify-content: space-between;
		}
		@include responsive(min-tablet) {
			flex-direction: column;
			padding: 4.1rem 0 4.8rem;
		}
	}
	&__item-img {
		margin-bottom: 5.6rem;
	}
	&__item-title {
		margin-bottom: 2.4rem;
		font-size: $h4_font-size;
		color: white;
		text-align: center;
	}
	&__item-subtitle {
		width: 25.5rem;
		color: white;
		text-align: center;
		@include responsive(max-tablet) {
			width: 34.4rem;
		}
		@include responsive(tablet) {
			width: 100%;
		}
	}
}
.shipping {
	margin-bottom: 6.7rem;
	padding-top: 1.1rem;
}
