.header {
	.container {
		padding: {
			top: 4.4rem;
			bottom: 4.4rem;
		}
		@include flexx();
	}
}
.main_logo {
	@include responsive(tablet) {
		width: 19rem;
		height: inherit;
	}
	@include responsive(max-phone) {
		width: 16.3rem;
		height: inherit;
	}
}
