.nav {
	@include responsive(max-phone) {
		display: none;
	}

	&__list {
		display: flex;
		column-gap: 3.3rem;
		@include responsive(min-tablet) {
			column-gap: 2.2rem;
		}
	}
	&__link {
		font-size: $nav_font-size;
		line-height: 1.25;
		letter-spacing: 0.92;
		color: $nav-color;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__link:hover {
		color: $nav_hover-color;
	}
}
