// MEDIA
.header_nav {
	@include responsive(min-table) {
		display: none;
	}
}
.nav__list {
	display: flex;
	gap: 3.3rem;
	.nav__link {
		font-size: $nav_font-size;
		line-height: $nav__line-height;
		font-weight: $nav__font-weight;
		letter-spacing: 0.09rem;
		color: $grey;
		text-transform: uppercase;
	}
	.nav__link:hover {
		color: $second-color;
	}
}
