*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.container {
	max-width: 144rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 8rem;
	padding-right: 8rem;
	@include responsive(table) {
		padding: 0 4rem;
	}
	@include responsive(min-table) {
		padding: 0;
		display: flex;
	}
}
.main {
	flex-grow: 1;
}
a {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}
.block {
	padding: 11.7rem 8.5rem;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1rem;
	background-position: center;
	@include responsive(table) {
		background-position: center left -30px;
	}
	@include responsive(mobile) {
		background-position: center left -540px;
	}
}
.title {
	margin: 0;
}

.btn {
	width: 21.7rem;
	height: 5.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn:hover {
	background-color: $main-btn-hover;
}
